* {
    padding: 0;
    margin: 0;
}
body{
    background-color:lightyellow;
    color:dodgerblue;
}
h2{
    text-align: center;
    padding-right: 100px;
    margin-top: 15px;
    margin-bottom: 23px;
}

.container{
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
    max-width: 25vw;
    margin: auto;
    flex-wrap: wrap;
    
}
.box{
    position:inherit;
    color: red;
    border: 1px solid gold;
    background-color:lightcyan;
    /* border: none; */
    border-radius: 1rem;
    height: 90px;
    width: 100px;
    margin: 2px;
    /* padding-top: 8px; */
    box-shadow: 0 0 1.1rem;
    font-size: 92px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#reset{
    border-radius: 9px;
    margin-top: 35px;
    padding: 7px;
    border: none;
    background-color:black;
    color: wheat;
    font-size: 25px;
    font-weight: 500;
    margin-left:650px;
}
#new-btn{
    border-radius: 9px;
    margin-top: 35px;
    padding: 7px;
    border: none;
    font-weight: 400;
    background-color:black;
    color: wheat;
    font-size: 25px;
    font-weight: 500;
    margin-left:650px;
}
#msg{
    color:red;
    text-shadow: 0 0 1rem;
    font-size: 35px;
    font-weight: 400;
    margin-left:530px;
}
.hide{
display: none;
}